* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --MAINCOLOR: #0fb2c4;
    --HEAD_FOOT_COLOR: #ffffff;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 10vh;
    border-bottom: 2px solid var(--MAINCOLOR);
    justify-content: space-between;
    background-color: var(--HEAD_FOOT_COLOR);
}

.navbar h1 {
    font-size: 2rem;
    font-family: monospace;
    padding: 1vw;
}

.navbar ul li {
    list-style: none;
    padding: 1.3vw;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 510;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.main {
    min-height: 80vh;
    background-color: #111827;
}


.profile img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    border: 5px double var(--MAINCOLOR);
}

.home {
    font-size: 2rem;
}

.home h1 {
    font-family: monospace;
    color: var(--MAINCOLOR);
    padding: 1vw;
}

.home p {
    font-family: cursive;
    color: #1b76a0;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5vw 10vw 5vw 10vw;
    gap: 5vw;
}

#skill-heading {
    color: var(--MAINCOLOR);
    text-align: center;
    padding: 3vw;
    font-size: 3rem;
}

.skill-items {
    border-radius: 5px;
    text-align: center;
    padding: 3vw;
    border: 2px solid var(--MAINCOLOR);
    background-color: #000;
    color: whitesmoke;
}

.skill-img {
    width: 80%;
    height: auto;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    color: var(--MAINCOLOR);
    margin: 1vw;
}

.contact {
    border: 1px solid var(--MAINCOLOR);
    width: 65vh;
    height: 50vh;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px var(--MAINCOLOR);
}

.contact input,
.contact textarea {
    background-color: black;
    width: 80%;
    margin: 5px;
    padding: 8px;
    outline: 1px solid var(--MAINCOLOR);
    border: none;
    color: var(--MAINCOLOR);
    border-radius: 2px;
    resize: vertical;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#btn1 {
    color: whitesmoke;
    background-color: var(--MAINCOLOR);
    outline: none;
}

.footer {
    height: 10vh;
    border-top: 2px solid var(--MAINCOLOR);
    background-color: var(--HEAD_FOOT_COLOR);
}